$black: black;
$white: white;

$error-color: #ff5252;

$dark-palette-1: #1D2237;
$dark-palette-2: #BCC6D4;
$dark-palette-3: #231f20;
$dark-palette-4: #1D1D1B;

$dark-blue-palette-1: #293C81;

$green-palette-1: #2BC981;
$green-palette-2: #00E676;

$gray-palette-1: #d8d8d8;
$gray-palette-2: #c2c2c2;
$gray-palette-3: #e1e1e1;
$gray-palette-4: #d5dce6;
$gray-palette-5: #c1cdc1;
$gray-palette-6: #A9B5C6;
$gray-palette-7: #737373;

$white-palette-1: #f2f2f2;
$white-palette-2: #f9fafa;
$white-palette-3: #F5F9FC;
$white-palette-4: #f5f5f5;
$white-palette-5: #f9f9f9;
$white-palette-6: #EBEDEE;


// status colors
$status-color-active: #2BC981;
$status-color-inactive: #ff9700;
$status-color-cancelled: #ff5252;
$status-color-closed: #959ead;